{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lessons</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
          <a class="nav-item nav-link " id="nav-home-tab" data-toggle="tab" href="{% url 'index' %}" role="tab" aria-controls="nav-home" aria-selected="false">Ana Sayfa</a>
          <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="{% url 'lessons' %}" role="tab" aria-controls="nav-profile" aria-selected="true">Dersler</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="{% url 'students' %}" role="tab" aria-controls="nav-students" aria-selected="false">Öğrenciler</a>
        </div>
      </nav>
    <div class="table-responsive">
        <table class="table table-hover">
            <caption >Listenin Sonu</caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col ">Ders Kodu</th>
                <th scope="col">Ders Adı</th>
                <th scope="col">Dersi Veren Hoca</th>
                <th scope="col">Dersi Alan Öğrenci Sayısı</th>
            </tr>
            </thead>
            <tbody>
                {% for ders in ders_listesi %}
            <tr>
                <th scope="row"> {{ders.ders_kodu}}</th>
                <td>{{ders.ders_adi}}</td>
                <td>{{ders.dersi_veren_hoca}} </td>
                <td>{{ders.dersi_alan_ogrenci_sayisi}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>

 
        
        